.list-view {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  ._card {
    flex: 2 2 auto;
    width: 140px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 5px;
  }
  ._image-block {
    display: flex;
    height: 80%;
    padding: 8px;
    ._image {
      margin: auto auto;
      width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 200px;
      min-width: 60px;
      min-height: 60px;
    }
  }
  ._text-block {
    height: 20%;
    background-color: #f3f3f3;
    padding: 7px 6px;
    font-size: 0.8em;
    ._name {
      font-weight: bold;
    }
    ._type {
      font-size: 0.9em;
      display: inline;
      & span::after {
        content: ", ";
      }
      & :last-child::after {
        content: "";
      }
    }
  }
}
